@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #dae0e6;
}



header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 #a3a3a3;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

header div img {
  width: 120px;
}

header div input {
  padding: 0.5rem 1rem 0.5rem 3rem;
  outline: 0;
  border: 0;
  border: 1px solid #ff856c;
  border-radius: 50px;
}

.search {
  position: relative;
  overflow: hidden;
}

.search i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #878a8c;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img {
  object-fit: contain;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.users {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.users a {
  text-decoration: none;
  color: #000;
}

.users p {
  font-weight: 500;
  padding-right: 0.8rem;
}

.users span {
  font-size: 0.7rem;
  color: #a3a3a3;
}

/*****************************************************/

main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#profile {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.bg {
  width: 100%;
  height: 180px;
  background-image: url('https://i.redd.it/sgf6r5easbh31.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.white-bg {
  display: flex;
  position: relative;
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
}


.white-bg .profile-img {
  position: relative;
  top: -55px;
  margin-left: 5rem;
  width: 150px;
  height: 150px;
}

.white-bg .profile-img img {
  border: 5px solid white;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.infos {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1rem;
}

.infos p {
  font-size: 1.5rem;
  font-weight: 700;
}

.infos span {
  font-size: 0.7rem;
  color: #333;
}

.upload {
  position: absolute;
  right: 0;
  bottom: 0;
}

.inputfile {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  width: 50px;
  height: 50px;
}

.inputfile+label {
  font-size: 1.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 50px;
  pointer-events: none;
  cursor: pointer;
  line-height: 50px;
  text-align: center;
}

.inputfile+label svg {
  fill: #08d6d6;
}

/*************************************************************************/

#create-post {
  width: 80%;
  margin-top: 1rem;
  font-size: .9rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 50px;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #bfbfbf;
  gap: 1rem;
  align-self: center;
}

#create-post .account-img {
  width: 40px;
  height: 40px;
}

#create-post .account-img img {
  object-fit: contain;
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

#create-post>input {
  width: 100%;
  border-radius: 5px;
  border: 0;
  padding: 0.5rem 1rem;
}

#create-post input:focus {
  border: 0;
  outline: 1px solid #CCCC;
}

.pop-up {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5000;
  display: none;
}

.layer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5010;
  background-color: #00000050;
}

.pop-up .form {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  gap: 1rem;
  border-radius: 5px;
  z-index: 5020;
}

.pop-up .form textarea {
  width: 100%;
  resize: none;
  padding: 1rem 1.5rem;
  border: 0;
  border-radius: 5px;
  outline: 1px solid #CCCC;
}

.pop-up .form textarea:focus {
  outline: 1.5px solid #CCCC;
}

.pop-up .form input {
  width: 100%;
  padding: 0.8rem 1.5rem;
  outline: 1px solid #CCCC;
  border: 0;
  border-radius: 5px;
}

.pop-up .form input:focus {
  outline: 1.5px solid #CCCC;
}

.pop-up .form button {
  margin-top: 2rem;
  padding: 0.5rem 3rem;
  background-color: #1484d6;
  color: #fff;
  border: 0;
  outline: 0;
  border-radius: 30px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.pop-up .form button:hover {
  background-color: inherit;
  outline: 2px solid #1484d6;
  color: #1484d6;
}

.none {
  font-size: 1.5rem;
  font-weight: 500;
  align-self: center;
}

/*************************************************************/
#popular-posts {
  margin-top: 1rem;
  width: 80%;
}

#popular-posts nav {
  margin-top: 1rem;
  font-size: .9rem;
  display: flex;
  align-items: center;
  border-radius: 5px;
  height: 60px;
  padding: 1rem;
  background-color: #fff;
  border: 1px solid #bfbfbf;
}

#popular-posts nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

#popular-posts nav ul li {
  list-style: none;
  cursor: pointer;
  border-radius: 150px;
  padding: 0.5rem;
  background-color: #F6F7F8;
}

#popular-posts nav ul li i {
  color: #222;
  padding-right: 0.5rem;
}

#popular-posts nav ul li p {
  font-weight: 500;
}

#popular-posts nav ul li select {
  font-weight: 500;
  border: 0;
  color: #222;
  background-color: #F6F7F8;
  cursor: pointer;
}

#popular-posts nav ul li p .fa-fire {
  color: #08d6d6
}

/***************************************************************************/

#posts {
  margin: 2rem 0;
  width: 80%;
  display: flex;
  border-radius: 10px;
  z-index: 1000;
}

#posts .container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

#posts .big {
  width: 100%;
  position: relative;
  display: flex;
  border-radius: 5px;
  border: 1px solid #bfbfbf;
  background-color: #ffffff;
  overflow: hidden;
}

#posts .votes {
  z-index: 20;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  background-color: #f8f9fa;
}

#posts .votes i {
  padding: 0.3rem 0;
  cursor: pointer;
  font-size: 0.9rem;
  color: d0d2d2;
}

#posts .votes p {
  font-weight: 700;
  font-size: 0.78rem;
}

/************************************/
#posts .post {
  position: relative;
  width: 100%;
  padding: 1rem;
}

#posts .post .content {
  font-size: 1.3rem;
}

#posts .post-img {
  width: 100%;
}

#posts .post-img img {
  width: 100%;
}

#posts .post-publisher {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#posts .post-publisher img {
  object-fit: contain;
  width: 30px;
  height: 30px;
}

#posts .publisher-info p {
  padding-left: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
}

#posts .publisher-info span {
  padding-left: 0.5rem;
  font-size: 0.7rem;
  font-weight: 400;
}

#posts .post-publisher a {
  text-decoration: none;
  color: #222;
}

#posts .post-publisher i {
  cursor: pointer;
  position: absolute;
  right: 2rem;
}


#posts .content {
  padding: 1rem 0;
}

#posts .social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.5rem;
  border-top: 0.5px solid #CCCC;
  gap: 1rem;
}

#posts .social p {
  font-size: 0.8rem;
  padding: 0.5rem;
  font-weight: 300;
  cursor: pointer;
  transition: padding .5s ease-in-out;
}

/**************************************************************/

/* MESSAGE STYLE STARTS */

.message {
  position: fixed;
  right: -100%;
  padding: 1.2rem 1rem;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  width: 350px;
  top: 1rem;
  text-align: center;
  font-size: 1.1rem;
}

.message p {
  color: #fff;
}

.message span {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 5px;
  background-color: #13ff13;
  z-index: 1000;
  width: 100%;
}

.vanish {
  animation: vanish 2s ease-in-out;
  right: 3%;
}

.vanishspan {
  animation: complete 2s ease-in-out;
}

@keyframes complete {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* MESSAGE STYLE ENDS */

/************************************************/

header #drop {
  display: flex;
  align-items: center;
}

header div#profile-info {
  display: flex;
  gap: 1rem;
  align-items: center;
}

header div#profile-info p {
  font-size: 1rem;
}

header div#profile-info div {
  width: 30px;
  height: 30px;
  position: relative;
}

header div#profile-info div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}


header #drop-down {
  position: absolute;
  right: 0;
  top: 130%;
  width: 100%;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgb(132, 132, 132);
  z-index: 5000;
}

header #drop-down li {
  padding: 0.8rem 1rem;
  width: 100%;
  font-size: 0.9rem;
  text-transform: capitalize;
  font-weight: 500;
  border-bottom: 0.5px solid #dddddd;
  display: flex;
  align-items: center;
  gap: 1rem;
}

header #drop-down li:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}

.fa-chevron-down {
  cursor: pointer;
}