@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #c6d0d8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #fff;
  box-shadow: 0 2px 4px 0 #a3a3a3;
  position: fixed;
  top: 0;
  left: 0;
}

header div img {
  width: 120px;
  cursor: pointer;
}

header div input {
  padding: 0.5rem 1rem 0.5rem 3rem;
  outline: 0;
  border: 0;
  border: 1px solid #ff856c;
  border-radius: 50px;
}

.search {
  position: relative;
  overflow: hidden;
}

.search i {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  color: #878a8c;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-btn,
.signup-btn {
  padding: 0.5rem 2rem;
  outline: 0;
  border: 0;
  border: 1px solid #1484d6;
  border-radius: 30px;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-right: 0.5rem;
}

.login-btn {
  color: #1484d6;
  background-color: #fff;
}

.signup-btn {
  background-color: #1484d6;
  color: #fff;
}

.fa-solid {
  color: #7c7c7c;
  font-size: 1.2rem;
  cursor: pointer;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#form {
  margin-top: 4rem;
  width: 30%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  gap: 0.5rem;
}

#form h1 {
  align-self: center;
  color: #FF4500;
  font-weight: 700
}

#form input {
  width: 100%;
  padding: 0.6rem 2rem;
  border-radius: 30px;
  border: 0;
  outline: 1px solid #FF4500;
}

#form label,
#form span {
  color: #333;
  font-size: 0.9rem;
  font-weight: 500;
}

#form button {
  align-self: center;
  padding: 0.7rem 3rem;
  outline: 0;
  border: 0;
  border-radius: 30px;
  background-color: #FF4500;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#form button:hover {
  outline: 2px solid #FF4500;
  background-color: inherit;
  color: #FF4500;
}

#form span a {
  text-decoration: none;
  color: #1484d6;
}

.error-message {
  align-self: center;
  font-weight: 600;
  color: #ff0000;
  font-size: 1rem;
  text-transform: capitalize;
}

/* MESSAGE STYLE STARTS */

.message {
  position: fixed;
  right: -100%;
  padding: 1.2rem 1rem;
  z-index: 1000;
  transition: all 0.2s ease-in-out;
  width: 350px;
  top: 1rem;
  text-align: center;
  font-size: 1.1rem;
}

.message p {
  color: #fff;
}

.message span {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 5px;
  background-color: #13ff13;
  z-index: 1000;
  width: 100%;
}

.vanish {
  animation: vanish 2s ease-in-out;
  right: 3%;
}

.vanishspan {
  animation: complete 2s ease-in-out;
}

@keyframes complete {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

/* MESSAGE STYLE ENDS */